*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(77, 210, 77);
}

h1{
    text-align: center;
    padding: 100px;

    
}
.container{
    text-align: center;
    background-color: rgba(94, 162, 22, 0.345);
    margin: auto;
    width: 50%;
    height: max-content;
    max-height: 90%;
    border: 3px solid rgb(2, 136, 2);
    padding: 10px;

}
a{
    text-decoration: none;
    color: rgb(1, 70, 1);
}